body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border:1px solid orange;
  border-radius:10px;
  box-shadow: 3px 2px 22px 0px;
  -webkit-box-shadow: 3px 2px 22px 0px;
  -moz-box-shadow: 3px 2px 22px 0px
  background-color:#FFF49C;
      width: 50%;
    margin: 10% auto;
}
body .input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2% 0;
}
body .input label {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  margin-bottom:2%;
  text-align:center;
}
body .buttons {
  display: flex;
  justify-content: center;
  margin: 2% 0;
}
body .h2 {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom:5%;
}
body .h2 p {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  color: rgb(25, 50, 50);
  font-weight: 600;
}
@Media(max-width:900px){
  body{
  width:90%;}}
